azure-mgmt-compute 
azure-mgmt-storage
azure-mgmt-resource
azure-keyvault-secrets
azure-storage-blob 
pyspark==2.4.6
flask
dotted_dict
inference-schema
ipywidgets
networkx==2.4
nltk
psutil
pandas==1.0.3
pytorch_pretrained_bert
torch
torchvision
psutil
pyarrow
pyjarowinkler
pytesseract
transformers
scipy
